/* Reset de estilos para asegurar consistencia en diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo del documento */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Fondo azul claro */
    color: #333; /* Texto oscuro */
    line-height: 1.6;
    padding: 20px;
}

/* Estilos para el encabezado (header) */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #0056b3; /* Azul oscuro */
    color: #fff; /* Texto blanco */
    border-bottom: 2px solid #ffd700; /* Línea inferior dorada */
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffd700; /* Enlaces dorados */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos para las secciones */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #0056b3; /* Azul oscuro */
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el formulario de contacto */
form {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border: 2px solid #0056b3; /* Borde azul oscuro */
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #0056b3; /* Texto azul oscuro */
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0056b3; /* Borde azul oscuro */
    border-radius: 3px;
    background-color: #f0f8ff; /* Fondo azul claro */
    color: #333; /* Texto oscuro */
}

form button {
    background-color: #0056b3; /* Fondo azul oscuro */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #003d80; /* Fondo azul más oscuro al pasar el ratón */
}

/* Estilos para el pie de página (footer) */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.8rem;
    background-color: #0056b3; /* Fondo azul oscuro */
    color: #fff; /* Texto blanco */
    border-top: 2px solid #ffd700; /* Línea superior dorada */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #ffd700; /* Enlaces dorados */
}

footer ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
