/* Reset de estilos para asegurar consistencia en diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo del documento */
body {
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada para un estilo hacker */
    background-color: #0d0d0d; /* Fondo oscuro */
    color: #00ff00; /* Texto verde neón */
    line-height: 1.6;
    padding: 20px;
}

/* Estilo para la imagen del portafolio */
.imagen-portafolio {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 20px; /* Espacio superior */
}

.imagen-portafolio img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px #00ff00; /* Sombra verde neón */
    border: 2px solid #00ff00; /* Borde verde neón */
}

/* Estilos para el encabezado (header) */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #1a1a1a; /* Fondo oscuro */
    border-bottom: 2px solid #00ff00; /* Línea inferior verde neón */
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #00ff00; /* Texto verde neón */
}

/* Estilos para la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #00ff00; /* Enlaces en verde neón */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos para las secciones */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #00ff00; /* Texto verde neón */
}

/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para el pie de página (footer) */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.8rem;
    background-color: #1a1a1a; /* Fondo oscuro */
    border-top: 2px solid #00ff00; /* Línea superior verde neón */
    color: #00ff00; /* Texto verde neón */
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para los enlaces de redes sociales */
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #00ff00; /* Enlaces en verde neón */
}

footer ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
